name: test-vsign

on:
  workflow_dispatch:
  push:
    branches: ['main', 'release-*']
  pull_request:

jobs:
  test_cosign_action:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    permissions: {}
    name: Install vsign and test presence in path
    steps:
    - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3
    - name: Install vsign
      uses: ./
    - name: Check install!
      run: vsign version
    - name: Check root directory
      run: |
        if [[ $(git diff --stat) != '' ]]; then
          echo 'should be clean'
          exit 1
        else
          exit 0
        fi
      shell: bash